.digits__btn {
  display: none;
  position: absolute;
  width: 100%;
  height: 25px;
  color: #dedede;
}

.digits__btn.inactive {
  display: none;
}

.digits__btn::after {
  content: "";
  position: absolute;
  top: 50%;
  right: 50%;
  width: 0;
  height: 0;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  transform: translate(50%, -50%);
}

.digits__btn.up {
  top: -25px;
}

.digits__btn.up::after {
  border-bottom: 10px solid #fff; /* Replace #fff with the background color of the button */
}

.digits__btn.up.disabled::after {
  border-bottom: 10px solid #3a3a3a;
}

.digits__btn.down {
  bottom: -25px;
}

.digits__btn.down::after {
  border-top: 10px solid #fff; /* Replace #fff with the background color of the button */
}

.digits__btn.down.disabled::after {
  border-top: 10px solid #3a3a3a;
}

@media (hover: none) {
  .digits__btn {
    display: block;
  }
}