.buttons {
  display: flex;
  align-items: center;
  margin-top: 20px;
  width: 100%;
  gap: 1rem;
}

.control-btn {
  padding: 7px 15px;
  color: #fff;
  border-radius: 5px;
  min-width: 150px;
  background-color: #565656;
}

.control-btn.start {
  background: linear-gradient(to bottom, #55aa54, #4b984a);
  box-shadow: inset 0 1px 0px 0px #60bf5e;
}

.control-btn.running {
  background: linear-gradient(to bottom, #d8a740, #c29638);
  box-shadow: inset 0 1px 0px 0px #e0b759;
}

.control-btn:hover {
  background: linear-gradient(to bottom, #4682b4, #4892ce);
  box-shadow: inset 0 1px 0px 0px #4682b4;
}

.control-btn:disabled {
  background: #3a3a3a;
  box-shadow: inset 0 1px 0px 0px #3a3a3a;
  color: #717171;
}

.time {
  background-color: #292929;
  border-radius: 5px;
  padding: 0 1rem;
  display: flex;
  align-items: center;
  box-shadow: inset 0 0 1px 0.2px #494949;
  position: relative;
  transform: translateY(0) scale(1);
  transition: all 0.5s ease;
  max-width: 500px;
  margin: 40px 0;
}

.digits__wrapper {
  position: relative;
  width: 100%;
}

.digits__btn {
  display: none;
  position: absolute;
  width: 100%;
  height: 25px;
  color: #dedede;
}

.digits__btn.inactive {
  display: none;
}

.digits__btn::after {
  content: "";
  position: absolute;
  top: 50%;
  right: 50%;
  width: 0;
  height: 0;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  transform: translate(50%, -50%);
}


.digits__btn.up {
  top: -25px;
}

.digits__btn.up::after {
  border-bottom: 10px solid #fff; /* Replace #fff with the background color of the button */
}

.digits__btn.up.disabled::after {
  border-bottom: 10px solid #3a3a3a;
}

.digits__btn.down {
  bottom: -25px;
}

.digits__btn.down::after {
  border-top: 10px solid #fff; /* Replace #fff with the background color of the button */
}

.digits__btn.down.disabled::after {
  border-top: 10px solid #3a3a3a;
}

.digits {
  font-size: 6rem;
  font-variant-numeric: tabular-nums;
  color: #dedede;
  cursor: default;
  appearance: none;
  border: none;
  background-color: transparent;
  width: 100%;
  text-align: center;
}

input[type="number"] {
  caret-color: transparent;
}

.digits.active {
  color: #ffa500;
}

@media (max-width: 550px) {
  .time {
    padding: 0;
  }
  .digits {
    font-size: 5rem;
  }
}

@media (max-width: 400px) {
  .digits {
    font-size: 4rem;
  }
}

@media (hover: none) {
  .digits__btn {
    display: block;
  }
}
