.time {
  background-color: #292929;
  border-radius: 5px;
  padding: 0 1rem;
  display: flex;
  align-items: center;
  box-shadow: inset 0 0 1px 0.2px #494949;
  position: relative;
  transform: translateY(0) scale(1);
  transition: all 0.5s ease;
  max-width: 500px;
  margin: 40px 0;
}

@media (max-width: 550px) {
  .time {
    padding: 0;
  }
}
