:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}


/* Root */
ul {
  padding: 0;
  list-style-type: none;
  width: fit-content;
}

a {
  text-decoration: none;
  background-color: #565656;
  border-radius: 0 5px 5px 0;
  color: #fff;
  padding: 7px 15px;
  display: block;
  position: relative;
  margin-bottom: 5px;
}

a.active {
  background: linear-gradient(to bottom, #4682b4, #4892ce);
}

a:visited {
  color: #fff;
}

a > span {
  position: absolute;
  top: 0;
  right: 0;
  transform: translateX(100%);
  color: #565656;
  padding: 7px 15px;
}

a.active > span {
  color: #4682b4;
}

button {
  border: none;
  background-color: transparent;
  cursor: pointer;
}

